* {
    margin: 0px;
    padding: 0px;
    font-family: "Kadwa";
}

.header {
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
    .header_logo {
        margin: 13px;
        margin-left: 26px;
        width: 74px;
        height: 74px;
        float: left;
    }
    .header_text {
        width: 340px;
        height: 100px;
        font-size: 48px;
        float: left;
        line-height: 100px;
        vertical-align: middle;
    }
    .header_item {
        width: 290px;
        height: 100px;
        font-size: 36px;
        float: left;
        line-height: 100px;
        vertical-align: middle;
        text-align: center;
        .header_item_text {
            text-decoration: none;
            color: #353535;
        }
    }
    .header_item_user{
        width: 0px;
    }
}


.menu{
    margin-left: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    .menu_refresh{
        width: 80px;
    }
    .menu_delete{
        margin-left: 20px;
        width: 80px;
        background-color: rgba(160, 15, 15, 0.801);
        color: white;
    }
}

.an_item {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #a8a8a8;
    .an_item_text{
        margin-left: 26px;
        margin-right: 50px;
        height: 60px;
        float: left;
        vertical-align: middle;
        text-align: left;
        font-size: 15px;
    }
    .gr_one{
        width: 400px;
    }
    .gr_two{
        width: 180px;
    }
    .gr_three{
        width: 80px;
    }
    .gr_four{
        width: 80px;
    }
    .gr_five{
        width: 80px;
    }
    .gr_six{
        width: 100px;
    }
    .gr_seven{
        width: 150px;
    }
}

.legend {
    .legend_item{
        margin-left: 26px;
        margin-right: 50px;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        text-align: left;
        float: left
    }
    .gr_one{
        width: 400px;
    }
    .gr_two{
        width: 180px;
    }
    .gr_three{
        width: 80px;
    }
    .gr_four{
        width: 80px;
    }
    .gr_five{
        width: 80px;
    }
    .gr_six{
        width: 100px;
    }
    .gr_seven{
        width: 150px;
    }
    height: 35px;
    border-bottom: 2px solid #6d6d6d;
    border-top: 2px solid #6d6d6d;
}

.main {
    .text {
        font-size: 48px;
        margin: 13px;
        margin-left: 26px;
        margin-bottom: 15px;
    }
    .form_block {
        height: 100px;
        margin-bottom: 20px;
        .form_block2 {
            width: 710px;   
            height: 100px;
            border-radius: 25px;
            background-color: #D9D9D9;
            float: left;
            margin-left: 26px;
            .form_block_text {
                width: 650px;
                height: 100px;
                text-align: end;
                font-size: 48px;
                line-height: 96px;
                vertical-align: middle;
            }
            .form_block_form {
                width: 710px;
                height: 100px;
                border-radius: 25px;
                border-width: 2px;
                font-size: 40px;
                padding-left: 20px;
                transition: 1.2s;
            }
            .form_block_form:hover {
                background-color: #D9D9D9;
                transition: 1.2s;
            }
        }
    }
    .find {
        float: left;
        cursor: pointer;
        height: 100px;
        width: 300px;
        font-size: 48px;
        border-radius: 20px;
        background-color: #D9D9D9;
        margin-left: 26px;
        transition: 0.3s;
        .find_button {
            width: 300px;
            line-height: 100px;
            vertical-align: middle;
            text-align: center;
        }
    }
    .find:hover {
        background-color: #A0A0A0;
        transition: 0.3s;
    }
    .vac_done{
        margin-top: 12px;
        float: left;
        opacity: 0;
        transition: 2.0s;
        margin-left: 26px;
        height: 100px;
        width: 500px;
        font-size: 36px;
        color: green;
    }
}

.auth {
    margin-top: 100px;
    .form{
        margin-bottom: 10px;
        margin-left: 27%;
        width: 850px;
        height: 100px;
        .form_item_text{
            width: 200px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            line-height: 100px;
            font-size: 48px;
            float: left;
        }
        .form_item_form{
            width: 500px;
            height: 50px;
            margin-top: 20px;
            font-size: 24px;
            text-align: center;
            padding-left: 20px;
            float: left;
        }
    }
    .auth_button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-left: 43%;
    }
}

@font-face {
    font-family: "Kadwa";
    src: url("./fonts/Kadwa-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}